*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    list-style: none;
}

.font-weight-normal{
    font-weight: normal;
}
/*Pagination*/
.pagination{
    text-align: right;
    margin: 1em 0;
}
.pagination ul li{
    display: inline-block;
}
.pagination ul li a{
    padding: 10px 10px;
    background-color: white;
    color: #59405c;
    text-decoration: none;
    border-radius: 3px;
    font-size: .8em;
}
.pagination ul li a.active{
    background-color: #0778FF;
    color: white;
}
/*buttons*/
.btn{
    padding: 8px 1em;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em!important;
}
.btn.btn-success{
    background-color: seagreen;
    color: #eeeeee;
}

/*forms*/
form,
form .field,
input[type=text],
input[type=email]{
    width: 100%;
    margin: 0 auto;
    outline: 0;
    margin-bottom: 10px;
}
form article.fieldGroup{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
input[type=text],
input[type=email]{
    padding: 8px 10px;
    font-size: .8em;
}


/*Template*/
body{
    background-color: #eeeeee;
}
#btnMobile{
    display: none!important;
}
.mobileNavSess{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
}
.dashLeftSiderbar{
    position: fixed;
    width: 15%;
    height: 100%;
    /*overflow-y: auto;*/
    background-color: #322f3d;
}
.dashLeftSiderbarContent ul li a{
    display: block;
    color: #eeeeee;
    padding: .8em 1em;
    text-decoration: none;
    font-size: .9em;
}

.dashLeftSiderbarContent ul li:hover{
    background-color: #59405c;
    position: relative;
}
.dashLeftSiderbarContent ul li > ul{
    background-color: #59405c;
    display: none;

}


/*DASH HEADER*/
.dashHeader{
    width: calc(100% - 15%);
    margin-left: 15%;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    padding: 1em 1em;
}
.dashHeaderContent{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashHeaderContent h1{
    font-size: 1.8em;
    color: #322f3d;
}
.dashHeaderContent .dashHeaderNav ul{
    display: flex;

}
.dashHeaderContent .dashHeaderNav ul li a{
    margin: 0 .8em;
    text-decoration: none;
    color: #322f3d;
}

/*MAIN*/
.main{
    width: calc(100% - 15%);
    margin-left: 15%;
}
.main .main-content{
    width: 95%;
    margin: 0 auto;
}
.main .main-content .item{
    padding: 1em 0;
    margin-top: 10px;
}

.statistics{
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% / 4);
    margin: 0 auto;
}
.card{
    background-color: #fafafa;
    flex-basis: calc(100% / 4);
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);

}
.card .cardHeader{
    padding: 1em 0;
    text-align: center;
}
.card .cardBody{
    padding: 1em 0;
    text-align: center;
}
.card:nth-of-type(1){
    margin-left: 0;
}
.card:nth-of-type(4){
    margin-right: 0;
}
.listUsers{
    width: 100%;
    /*background-color: white;*/
    overflow-x: auto;
}
.tbUsers{
    width: 100%;
    overflow-x: auto;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    background-color: white;
}
.tbUsers thead td{
    text-align: center;
    padding: 1em 10px;
    font-size: .8em;
    font-weight: bold;


}
.tbUsers tbody tr td{
    text-align: center;
    padding: .5em 10px;
    font-size: .8em;
    border-top: 1px solid rgba(0,0,0,.1);
}
.tbUsers tbody tr td a{
    text-decoration: none;
    padding: .3em;
    vertical-align: middle;
    text-align: right!important;
    border-radius: 3px;
    color: #59405c;
    margin: 5px 2px;
    position: relative;
    float: right;
;

}
.tbUsers tbody tr td a:hover{
    background-color: #fb565e;
    color: white;
}

/*device width - 750px*/
@media all and (max-width: 46.875em) {

    #btnMobile{
        display: block!important;
    }
    .dashLeftSiderbar{
        display: none;
    }
    .dashHeader,
    .main{
        width: 100%;
        margin: 0 auto;
    }
    .dashHeaderContent h1{
        display: none;
    }
    .dashHeaderContent span{
        display: block!important;
        cursor: pointer;
    }
}

